<div id="container">
  <div id="topHeader">
    <h1>Chatbot</h1>
    <p>Enter any text and AI will reply </p>
  </div>
  <div id="output">
    <div id="userOutput" [style.display]="userprompt ? 'block' : 'none'">
      {{userprompt}}
    </div>
    <div id="aiOutput" [style.display]="aiResponse ? 'block' : 'none'">
      {{aiResponse}}
    </div>        
  </div>
  <div id="userPrompt">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Enter prompt</mat-label>
        <!-- Add template reference variable #userInput -->
        <textarea #userInput matInput placeholder="Ex. It makes me feel..." (keyup.enter)="updateUserPrompt(userInput.value)"></textarea>
      </mat-form-field>
    </form>
  </div>
</div>